*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.page-wrap {
    height: 100%;
    min-height: 100%;
    position: fixed;
    width: 100%;
    background-color: #000;
    background-image: url("http://lh4.ggpht.com/_zLwHwqx7gy4/S0zGFDof6bI/AAAAAAAAEyQ/6vyou0ItYOw/catgifpage3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 215, 0);
    font-size: 14pt;
    font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.page-center {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    height: 100%;
    padding-left: 25px;
    padding-top: 15px;

}
.hi-wrap h1 {
    font-size: 172pt;
}
.heading-name-of-me h1 {
    font-size: 64pt;
}

.heading-name-of-me h4 {
    font-size: 16pt
}
.contact-info-area {
    padding-top: 30px;
    padding-left: 50px;
}
.contact-table {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}